.chosen-car-display {
    padding: 0.5rem 1rem;
}

.options-container {
    display: block;
    width: 100% !important;
}

input:checked + .option-check-box-label div {
    background-color: rgb(84, 120, 219);
    color:azure !important;
}

.option-check-box-label {
    width: 100%;
    display: block;
    line-height: 2rem;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}

.option-check-box {
    position: absolute;
    display: none;
}
.option-item .card-info-body {
    padding: 0 !important;
}
.option-item {
    margin: 0.5rem 0.5rem;
    display: block;
}

.booking-container {
    display: block;
    max-width: 720px;
    margin: 1rem auto;
    min-width: 300px;
    padding: 0 10px;
    background-color: var(--main-content-background-color);
    border-radius: 5px;
}

.headline {
    font-size: larger;
    margin-left: 0.5rem;
}

.change-rental-option-item {
    text-align: center;
}

.rental-option-display {
    margin: 0.5rem;
}

.chosen-car-display {
    margin: 0.5rem;
}