.chosen-car-display {
    height: 100%;    
    background-color: rgb(243, 244, 255);
    outline: 2px dashed rgb(89, 37, 232);

}

.options-container {
    display: block;
    width: 100% !important;
}

input:checked + .option-check-box-label{
    outline: 2px dashed rgb(89, 37, 232);
}

input:checked + .option-check-box-label div{
    color:rgb(37, 121, 232) !important;
    background-color: rgb(243, 244, 255);
}

.option-check-box-label {
    width: 100%;
    display: block;
    line-height: 2rem;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}

.option-check-box {
    position: absolute;
    display: none;
}

.option-item {
    display: block;
    border: 1px dashed grey;
}

.booking-container {
    display: block;
    max-width: 720px;
    margin: 1rem auto;
    min-width: 300px;
    padding: 0 10px;
    background-color: var(--main-content-background-color);
    border-radius: 5px;
    padding: 1rem;
}

.headline {
    font-size: larger;
    margin-left: 0.5rem;
}

.change-rental-option-item {
    text-align: center;
}

.rental-option-display {
    background-color: rgb(243, 244, 255);
    outline: 2px dashed rgb(89, 37, 232);
}

.ant-picker {
    width: 100% !important;
}

.summary {
    padding: 1rem 2rem;
    border: 1px solid rgb(45, 184, 45);
    border-radius: 3px;
    background-color: rgb(235, 255, 235);
    width: 100%;
}

.booking-submit-btn {
    width: 100%;
    border: 0;
    height: 3rem;
    background-color: rgb(36, 176, 36);
    cursor: pointer;
    border-radius: 3px;
    color:aliceblue;
    font-size: 20px;
    margin-top: 1rem;
}