.card-info-header {
    border: 2px solid #30363d;
    background-color: #282a2e;
    padding: 0.5rem 1rem;
    text-align: center;

}
.card-info-body {
    border: 2px solid #30363d;
    border-top: 0;
    padding: 0.5rem 0;
    text-align: center;
    background-color: rgb(29, 29, 29);
}

.card-info {
    padding: 0;
    margin: 1rem 0.3rem;
    transition: 0.17s ease-in-out;
}

.card-info:hover {
    box-shadow: rgba(105, 96, 96, 0.35) 0px 5px 15px;
    cursor: pointer;
}
